@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open%20Sans&display=swap');

:root {
  --bg-color: white;
  --text-color: #030103;
  --link-color: #1fa075;

  --footer-height: 39px;
}

html, body {
    font-family: 'Liberation Sans', sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
    text-align: left;
    font-size: 18px;
	margin: 2% 5%;
}

body {
  display: flex;
  flex-direction: column;;
}

p {
  text-align: inherit;
}

a {
    color: var(--link-color);
    text-decoration: inherit;
}

blockquote, figcaption {
  opacity: 80%;
  margin: 1%;
}

blockquote {
  border-left: solid var(--text-color) 2px;
  padding-left: 2%;
  padding-right: 2%;
  font-style: italic;
}

figure {
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  font-weight: normal;
  text-align: left;
}

pre, code {
  font-style: normal;
}

ul, li {
  list-style-type: inherit;
  padding: inherit;
  padding-left: max(12px, 2%);
  padding-right: max(12px, 2%);
}

