* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  padding: 2rem 0;
  font-size: 16px;
  line-height: 1.6;
}

body {
  background-color: #030303;
  color: #fdfdfd;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}

h1,
h2,
p {
  margin: 1rem 0;
}

nav {
  display: block;
}

nav img {
  float: left;
  margin-right: 2rem;
  width: 8rem;
  margin-left: -1rem;
}

nav ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #979797;
}

li {
  margin: 0 2rem;
}

ul {
  list-style-type: square;
}

blockquote {
  border-left: 0.2rem solid #fdfdfd;
  padding: 0 1rem;
}

.author {
  padding: 0.5rem 0;
}

.footnotes ol {
  padding-top: 1rem;
}

.footnote-ref {
  font-size: 0.8rem;
}

.container {
  max-width: 1000px;
  padding: 0 1rem;
  margin: 0 auto;
  overflow: auto;
}
