// Base index style
.books {
    @include set-background($bg-color);
    h1 {
        font-size: 1.8rem;
        line-height: 1.2;
    }
    &-category {
        ul {
            display: inline-block;
            list-style-type: none;
            padding: 0;
        }
        li {
            padding-top: 0.2rem;
        }
        a {
            text-transform: capitalize;
        }
    }
}

// Individual book page style
.book {
    @extend .landing;
    &-info {
        h1 {
            font-size: 2rem;
            line-height: 1.2;
            text-transform: capitalize;
        }
        h2 {
            margin-top: 0.5rem;
            font-size: 1.4rem;
        }
    }
    ul,
    ol {
        padding: 0 2rem;
    }
    &-summaries {
        aside {
            font-size: 0.8rem;
            padding-left: 1rem;
        }
        blockquote {
            margin: 0;
            padding: 0 1rem;
            font-style: italic;
            border-left: 4px solid $text-color;
        }
        ul,
        ol {
            padding: 0 0rem;
            list-style: none;
        }
    }
}
