$font-stack: sans-serif;
$head-stack: sans-serif;

// $primary-color: #238599;
// $secondary-color: #fdc4c4;
//$primary-color: #ffbcb3;
//$secondary-color: #615d66;
$primary-color: #030303;
$secondary-color: #fdfdfd;

$text-color: $secondary-color;
$bg-color: $primary-color;
$link-color: darken($text-color, 40%);

// Set background and text colors
@mixin set-background($color) {
    background-color: $color;
    color: $text-color;
}
