@media (max-width: 800px) {
    // Navbar
    .nav {
        display: flex;
        flex-direction: column;

        a {
            text-decoration: none;
            color: $bg-color;
            background-color: $text-color;
        }

        a:hover {
            color: $text-color;
            background-color: $bg-color;
        }

        * {
            padding: 0;
            margin: 0 auto;
            text-align: center;
        }

        &-home {
            font-weight: bold;
            text-align: center;

            a:hover {
                color: $bg-color;
                background-color: $text-color;
            }
        }

        &-link-group {
            display: flex;
            flex-direction: column;
            list-style: none;
        }
        &-link {
            width: 10rem;
            margin: 0.2rem 0;
            padding: 0.5rem 0;
        }
    }
    .container {
        padding: 0 2rem;
        margin: 0 auto;
        overflow: auto;
    }

    .nav-main {
    }

    .nav-mobile {
        display: none;
        // margin: 0;
        // padding: 1rem 0;
        // width: 100%;
        // background-color: $text-color;
    }
}
