@media (max-width: 44rem) {
    .landing {
        padding-bottom: 1rem;
        &-content {
            text-align: center;
            align-content: center;
            justify-content: space-around;
            img {
                display: none;
            }
        }
        nav {
            li {
                padding: 0.5rem;
                margin: auto;
            }
        }
    }
    .container {
        padding: 0 2rem;
        margin: 0 auto;
        overflow: auto;
    }
}
