@media (max-width: 44rem) {
    .landing {
        padding: 0.5rem 0rem;
        h1 {
            font-size: 2rem;
        }
        &-content {
            margin: 0;
            text-align: center;
            align-content: center;
            justify-content: space-around;
            img {
                display: none;
            }
        }
        nav {
            display: flex;
            flex-direction: column;
            ul {
                display: flex;
                flex-direction: column;
                margin: 1rem;
                border-radius: 0.8rem;
                padding: 0.5rem 2rem;
            }
            li {
                text-align: center;
                margin: 0.5rem;
                padding: 0;
                a {
                    padding: 0.5rem 2rem;
                    width: 20rem;
                    margin: 1rem;
                }
            }
        }
    }
    .container {
        padding: 0 2rem;
        margin: 0 auto;
        overflow: auto;
    }
}