@import "config";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    padding: 1rem 0 4rem;
    font-size: 18px;
    line-height: 1.6;
}

body {
    @include set-background($bg-color);
    font-family: $font-stack;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: $bg-color;
    background-color: $text-color;
}

a:hover {
    color: $text-color;
    background-color: $bg-color;
}

ul,
ol {
    ul, ol {
        padding: 0 2rem;
    }
}

ul {
    list-style-type: square;
    list-style-position: inside;
}

h1,
h2,
p {
    margin: 1rem 0;
}

.author {
    padding: 0.5rem 0;
}

// Navbar
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        text-decoration: none;
        color: $text-color;
        background-color: $bg-color;
    }
    
    a:hover {
        color: $bg-color;
        background-color: $text-color;
    }

    * {
        padding: 0;
        margin: 0;
    }

    &-home {
        font-weight: bold;
        text-align: left;

        a:hover {
            color: $text-color;
            background-color: $bg-color;
        }
    }

    &-link-group {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    &-link {
        list-style: none;
        margin: 0 0.2rem;
        padding: 0.5rem 1rem;
    }
}

@import "utilities";
@import "mobile";
