@import "config";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    padding: 2rem 0;
    font-size: 16px;
    line-height: 1.6;
}

body {
    @include set-background($bg-color);
    font-family: $font-stack;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: $head-stack;
}

h1,
h2,
p {
    margin: 1rem 0;
}

nav {
    display: block;
    
    
    img {
        float: left;
        margin-right: 2rem;
        width: 8rem;
        margin-left: -1rem;
    }
    ul {
        list-style-type: none;
    }
}

a {
    text-decoration: none;
    color: $link-color;
}

li {
    margin: 0 2rem;
}

ul {
    list-style-type: square;
}

blockquote {
    border-left: 0.2rem solid $text-color;
    padding: 0 1rem;
}

.author {
    padding: 0.5rem 0;
}

.footnotes {
    ol {
        padding-top: 1rem;
    }
}

.footnote-ref {
    font-size: 0.8rem;
}

@import "utilities";