
{{ define "lark" }}
  {{ range .Articles }}
  <article id="{{ .GetID }}">
    {{ range .Sections }}
      {{ range .Blocks }}
        {{ if .IsImage}}
          {{ .EncodeImage }}
        {{ else if .IsLink }}
          <li class="link">
          {{ .EncodeLink }}
          </li>
        {{ else if .IsList }}
          {{ .EncodeList }}
        {{ else if .IsPre }}
          {{ .EncodePre }}
        {{ else if .IsCode }}
          {{ .EncodeCode }}
        {{ else }}
        <{{ .GetHTMLTags }}>
          {{ range .Contents }}
          {{ . }}
          {{ end }}
        </{{ .GetHTMLTags }}>
        {{ end }}
      {{ end }}
    {{ end }}
  </article>
  {{ end }}
{{ end }}