
{{ template "head" .Date }}

<h1>{{ .Date }}</h1>

<h2>{{ .FilmStock }}</h2>

{{ range .Notes }}
<p>{{ . }}</p>
{{ end }}

{{ range .Photos }}
  <img
    src="{{ .Path }}"
    alt="{{ .AltText }}"
    class="img-three-good-things"
    loading="lazy"
  />
{{ end }}

{{ template "tail" . }}