{{ template "head" }}

    <h1>Running Journal</h1>

<p>
I'm attempting to run the 2024 London Marathon to raise money for, um &mdash; a trans-affirming charity that is yet to be decided. This is a training journal.
</p>

{{ range . }}
<article id="{{ .Title }}">
<h2>{{ .Title }}</h2>
<h3>{{ .Distance }} miles</h3>

{{ range .Notes }}
  <p>{{ . }}</p>
{{ end }}
</article>
{{ end }}

{{ template "tail" }}

