{{ template "head" "Three Good Things" }}
<h1>Three Good Things</h1>

<p>
  Since July 2022 I've tried to make a habit of noting three good things
  that have happened throughout the day. This has done good for my mental
  health, and serves as a nice little diary of my life too!
</p>

<p>
  I noted three good things on {{ len .Articles }} days so far!
</p>

<p>
  This page is formatted as an <a target="_blank" href="https://journal.miso.town/">HTML journal</a>, a cool format designed for syndication and micro-blogging.
  You can subscribe to my three good things with an RSS reader &mdash; the feed is <a href="/three-good-things/atom.atom">here</a>. It is currently broken while I move the entire page over to use lark, my markup language.
</p>

{{ template "lark" . }}
{{ template "tail" }}
