<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Three Good Things</title>
  <id>https://hd-dn.com/three-good-things/</id>
  <link rel="alternate" href="https://hd-dn.com/three-good-things/"></link>
  <updated>{{ (index . 0).Title }}T00:00:00+00:00</updated>
  <author>
      <name>Hannah (HD-DN)</name>
      <uri>https://hd-dn.com/three-good-things/</uri>
  </author>

  {{ range . }}
  <entry>
    <title>{{ .Title }}</title>
    <id>https://hd-dn.com/three-good-things/#{{ .Title }}</id>
    <published>{{ .Title }}T00:00:00+00:00</published>
    <updated>{{ .Title }}3T00:00:00+00:00</updated>
    <content type="html">
    &lt;ol&gt;
      &lt;li&gt;{{ .First }}&lt;/li&gt;
      &lt;li&gt;{{ .Second }}&lt;/li&gt;
      &lt;li&gt;{{ .Third }}&lt;/li&gt;
    &lt;/ol&gt;</content>
  </entry>
  {{ end }}
</feed>