<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Three Good Things</title>
  <id>https://hd-dn.com/three-good-things/</id>
  <link rel="alternate" href="https://hd-dn.com/three-good-things/"></link>
  <updated>{{ (index .Articles 0).GetID }}T00:00:00+00:00</updated>
  <author>
      <name>Hannah (HD-DN)</name>
      <uri>https://hd-dn.com/three-good-things/</uri>
  </author>

  {{ range .Articles }}
  <entry>
    <title>{{ .GetID }}</title>
    <id>https://hd-dn.com/three-good-things/#{{ .GetID }}</id>
    <published>{{ .GetID }}T00:00:00+00:00</published>
    <updated>{{ .GetID }}3T00:00:00+00:00</updated>
    <content type="html">
    {{ range .Sections }}
      {{ range .Blocks }}
        {{ if .IsImage}}
          {{ html .EncodeImage }}
        {{ else if .IsLink }}
          &lt;ul&gt;
          {{ html .EncodeLink }}
          &lt;/ul&gt;
        {{ else if .IsList }}
          {{ html .EncodeList }}
        {{ else if .IsPre }}
          {{ html .EncodePre }}
        {{ else }}
        &lt;{{ html .GetHTMLTags }}&gt;
          {{ range .Contents }}
          {{ html . }}
          {{ end }}
        &lt;/{{ html .GetHTMLTags }}&gt;
        {{ end }}
      {{ end }}
    {{ end }}
    </content>
  </entry>
  {{ end }}
</feed>